.contact {
    min-height: 80vh;
    width: 100%;
    padding: 50px 100px;
    /* background-color: #242424; */
    background-color: #6836f3be;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    color: #fff;
}

.contactDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
    width: 100% !important;
}

.contactDesc h2 {
    font-family: sans-serif;
    font-size: 31px;
    padding: 10px 0;
}

.contactDesc p {
    color: #a8a8a8;
    font-size: 17px;
    font-weight: 400;
}

.contactField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.formControl, .send {
    padding: 10px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
}

.formControl:focus {
    outline: none;
}

@media (max-width: 850px) {
    .contact {
        grid-template-columns: 1fr;
    }

    .contactDesc {
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .contact {
        padding: 50px;
    }
}